*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html, main {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: $color-pale-grey;
    color: $color-black;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

@media screen and (max-width: 900px) {
    html {
        font-size: 90%;
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 80%;
    }
}
